<div class="mb-4">
    <h1 class="text-center">{{currentQuestionnaire?.name}}</h1>
    <h6 class="text-center">Nome: {{userName}}</h6>
</div>

<div>
    <accordion [isAnimated]="true">
        <!-- <accordion-group *ngFor="let question of (currentQuestionnaire$.questionList | async); let i = index;" class="mb-4"></accordion-group> -->
        <accordion-group *ngFor="let question of currentQuestionnaire?.questionList; let i = index;" class="mb-4">
            <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
                <div class="pull-left float-left">Questão {{i + 1}}</div>
                <span class="badge badge-secondary float-right pull-right btn-borderless btn-down">
                    <fa-icon size="2x" [icon]="faAngleDoubleDown"></fa-icon>
                </span>
            </button>

            <p>{{question.question}}</p>

            <div *ngIf="question.aType=='OPEN'">
                <div class="form-group">
                    <textarea [(ngModel)]="currentQuestionnaire.answerList[i].answer[0]" class="form-control"
                        id="textarea{{i}}" rows="3"></textarea>
                </div>
            </div>

            <div *ngIf="question.aType=='SINGLE_OPTION'">
                <div *ngFor="let option of question.options; let j = index;" class="form-check">
                    <input [(ngModel)]="currentQuestionnaire.answerList[i].answer[0]" class="form-check-input" type="radio" name="radio{{i}}.{{j}}" id="radio{{i}}.{{j}}" value="{{j}}">
                    <label class="form-check-label"
                        for="radio{{i}}.{{j}}">{{option}}</label>
                </div>
            </div>

            <div *ngIf="question.aType=='MULTIPLE'">
                <div *ngFor="let option of question.options; let j = index;" class="form-check">
                    <input [(ngModel)]="currentQuestionnaire.answerList[i].answer[j]" class="form-check-input" type="checkbox" value="{{j}}" name="checkbox{{i}}.{{j}}" id="checkbox{{i}}.{{j}}">
                    <label class="form-check-label"
                        for="checkbox{{i}}.{{j}}">{{option}}</label>
                </div>
            </div>

        </accordion-group>
    </accordion>
    <div class="text-center">
        <button (click)="sendQuestionnaire()" type="button" class="btn btn-primary">Enviar Questionário</button>
    </div>

</div>