.btn-borderless {
    width: 30px;
    height: 30px;
    border-color: transparent;
    background-color: transparent;
    color: #343a40;
}

.btn-edit:hover {
    color: darkgray;
}

.btn-delete:hover {
    color: rgb(124, 20, 20);
}

.btn-secondary {
    background-color: #343a40;
}

.btn-danger {
    background-color: rgb(124, 20, 20);
    border-color: rgb(124, 20, 20);
}

textArea {
    height: 360px;
}

.btn-link{
    color: #343a40;
}