<div id="wrapper" >
    <nav id="sidebar" [class.collapsed]= "collapsed" >
        <div class="header">
        </div>
        <span class="divider"></span>
        <div class="userArea">
            <div class="userPicture">
                <img src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/3556/s200/up-academy-logo.png"
                    alt="profile picture" />
            </div>
            <div class="userName">
                Administrador
            </div>
            <div class="ui pointing dropdown accountMenu" autoClose="outsideClick">
                <!-- <div class="text"><i class="fa fa-cogs"></i></div> -->
                <!-- <div class="menu" suiDropdownMenu>
					<div class="item"><i class="fa fa-user"></i> Profile</div>
					<div class="item"><i class="fa fa-sign-out"></i> Sign out</div>
				</div> -->
            </div>
        </div>
        <span class="divider"></span>
        <ul class="navigation">
            <li>
                <a [ngClass]="{'active': pending}" (click)="pending=true; history=false; new=false;" routerLink="/questionario/pendentes" href="#"><i><svg width="20" height="16"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M20 1.341V0L10 1.36 0 0v14.64l9.632 1.31L10 16l.368-.05L20 14.64V2.683l-1.333.185V13.48l-8.003 1.089V2.612l8.003-1.088v.002L20 1.34zM9 15l-8-1.084V2l8 1.084V15z"
                                fill-rule="nonzero" /></svg></i><span>Pendentes</span></a>
            </li>
            <li>
                <a  [ngClass]="{'active': history}" (click)="pending=false; history=true; new=false;" routerLink="/questionario/historico" href="#"><i><svg width="20" height="16"
                            xmlns="http://www.w3.org/2000/svg">
                            <path 
                                d="M20 1.341V0L10 1.36 0 0v14.64l9.632 1.31L10 16l.368-.05L20 14.64V2.683l-1.333.185V13.48l-8.003 1.089V2.612l8.003-1.088v.002L20 1.34zM9 15l-8-1.084V2l8 1.084V15z"
                                fill-rule="nonzero" /></svg></i><span>Histórico</span></a>
            </li>
            <li *ngIf="showSideBar" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                class="nav-item dropright" dropdown triggers="hover" #dp="bs-dropdown" role="menu"
                >
                <a [ngClass]="{'active': new}" (click)="pending=false; history=false; new=true;" class="nav-link dropdown-toggle" 
                    data-toggle="dropdown" dropdownToggle><i><svg width="20" height="16"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M20 1.341V0L10 1.36 0 0v14.64l9.632 1.31L10 16l.368-.05L20 14.64V2.683l-1.333.185V13.48l-8.003 1.089V2.612l8.003-1.088v.002L20 1.34zM9 15l-8-1.084V2l8 1.084V15z"
                                fill-rule="nonzero" /></svg></i><span>Criar</span></a>
                <div id="navbardrop" class="dropdown-menu dropdown-menu-center" *dropdownMenu>
                    <a id="droppNew" class="dropdown-item" href="#new" routerLink="/questionario/novo">
                        Novo
                    </a>
                    <a id="dropTemplate" class="dropdown-item" href="#template" routerLink="/questionario/template">
                        Template
                    </a>
                </div>

            </li>
            <!-- <li class="nav-item dropdown" dropdown triggers="hover" #dp="bs-dropdown" role="menu"
                (mouseleave)="dp.hide()">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"
                    dropdownToggle>Perfil </a>
                <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                    <a class="dropdown-item" href="#" [routerLink]="['/profile']">
                        Meu Perfil
                    </a>
                    <a class="dropdown-item" href="#" (click)="logout()">
                        Sair
                    </a>
                </div>
            </li> -->
            <div class="divider"></div>
            <!--  <li>
                <a routerLink="/questionario/dados" href="#"><i><svg width="20" height="16"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M20 1.341V0L10 1.36 0 0v14.64l9.632 1.31L10 16l.368-.05L20 14.64V2.683l-1.333.185V13.48l-8.003 1.089V2.612l8.003-1.088v.002L20 1.34zM9 15l-8-1.084V2l8 1.084V15z"
                                fill-rule="nonzero" /></svg></i><span>Estatisticas</span></a>
            </li> -->
        </ul>

         <div  class="expandBtn">
            <span id="sidebarCollapsed"><fa-icon [icon]="collapsed ? faExpand : faCompress " (click)="collapsed = !collapsed"
                    ></fa-icon></span>
            </div>
    </nav>
</div>