$darkBlue: #00204A;
$blue: #005792;
$lightBlue: #00D1FF;
$babyBlue: #D9FAFF;
$green: #00C9B1;
$brightGreen: #45EBA5;
$orange: #FD5F00;
$red: #E9290F;
$yellow: #FFC300;
$grey: #FAFBFF;
$white: #ffffff;
$black: #343a40;

#wrapper{
  display: flex;
}

  #sidebar{
  position: fixed;
   background-color: $black;
   background: linear-gradient(180deg, #343a40 15%, $black 100%);
   height: 86vh;
   min-width: 100px;
   .header{
     text-align: center;
     img{
       margin: 20px 0;
     }
     .logoSmall{
       width: 28px;
       display: none;
     }
   }
  //  #bottom {
  //    margin-top: 39vh;
  //  }
  }
   .divider{
     display: block;
     border-bottom: 1px solid rgba(255,255,255,0.10);
     width: 170px auto;
     margin: 0 auto;
   }
  
  .userArea{
    padding: 16px 0;
    max-width: 160px;
    margin: 0 auto;
    .userPicture{
      margin: 0 auto;
      border-radius: 100%;
      max-width: 54px;
      overflow: hidden;
      position: relative;
      width: 100%;
      border: 2px solid $babyBlue;
      -webkit-box-shadow: 0px 1px 10px 0px rgba(43,52,70,0.3);
      -moz-box-shadow: 0px 1px 10px 0px rgba(43,52,70,0.3);
      box-shadow: 0px 1px 10px 0px rgba(43,52,70,0.3);
      &:after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }
      img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform:translateY(-50%);
        width: 100%;
      }
    }
    .userName{
      color: $white;
      font-size: 0.88em;
      text-align: center;
      margin-top: 12px;
      font-weight: 600;
      line-height: 1.3;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  
  ul.navigation{
    list-style-type: none;
    margin-top:22px;
    padding: 0;
    li{
      margin-left: 16px;
      a{
        font-size: 1em;
        padding: 11px 24px;
        color: $white;
        display: block;
        border-left:3px solid transparent;
        &:hover, &.active{
          background-color: rgba(0,32,74, 0.4);
        }
        &.active{
          border-color: #e07e37;
          color: #e07e37;
          svg{
            fill: #e07e37;
          }
        }
        i{
          margin-right: 12px;
          svg{
            fill:$white;
            vertical-align: middle;
            margin-top: -5px;
          }
        }
        span{
          visibility: visible;
          opacity: 1;
          -webkit-transition: opacity 0.2s, visibility 0.2s;
          transition: opacity 0.2s, visibility 0.2s;
          -ms-transition: opacity 0.2s, visibility 0.2s;
        }
      }
    } 
    .divider{
      margin: 12px auto;
    }
  }

  #navbardrop {
    background-color: #494c50;
    margin-left: 20px;
  }

  .expandBtn{
   margin-top: 360px;
    color: #e07e37;
    font-size: 24px;
    text-align: center;
    position: relative;
    bottom: 6px;
    width: 218px;
    cursor: pointer;
      padding:6px;
      opacity: 0.8;
      &:hover{
        opacity: 1;
        text-shadow: 0px 0px 50px rgba(248, 153, 75, 0.8);
        transform: scale(1.2, 1.2);
        -webkit-transform: scale(1.2, 1.2);
        -ms-transform:scale(1.2, 1.2);
     }
    }

  #sidebar.collapsed {
    min-width: 64px;
      max-width:100px;
      ul.navigation{
        li {
          a{
            padding: 11px 20px;
          }
        }
        span{
            visibility: collapse;
            opacity: 0;
            position: absolute;
            -webkit-transition: opacity 0.2s, visibility 0.2s;
            transition: opacity 0.2s, visibility 0.2s;
            -ms-transition: opacity 0.2s, visibility 0.2s
        }
      }
      .expandBtn{
        margin-right: 24px;
        margin-left: 10px;
        width:64px;
        font-size: 16px;
        padding:40px;
       
      }
      .divider{
        width: auto;
        display: block;
      }

      // #bottom{
      //    padding-top: 31px;
      // }
      .userPicture{
        margin-left: 24px;
        transform: scale(0.8, 0.8);
        -webkit-transform: scale(0.8, 0.8);
        -ms-transform:scale(0.8, 0.8);
      }
      .logoSmall{
        display: block;
        margin: 20px auto;
      }
      .logoLarge{
        display: none;
      }
      .userArea{
        padding: 16px 4px;
        .userName{
          font-size: 12px;
          margin: auto;
          //font-size: 12px;
          margin-left: 14px;;
        }
      }
      .userArea .accountMenu{
        position: relative;
        left: 0;
      }
  }

  .pushStatsDown{
    margin-top: 100px;
    div.expandBtn {
      margin-block-end: auto;
      
    }
  }

  div span.only-show-on-hover {
    visibility: hidden;
  }
  div:hover span.only-show-on-hover  {
    visibility: visible;
  }
  

 





  
