<!-- <p>admin-students works!</p> -->

  <div class="ml-4">

  <h3 class="ml-3 mt-4">Formandos</h3>  
  <!-- Table -->  
  <table class="table table-sm table-striped container m-3 col-12 text-center" style="width: 1300px;">
    <thead class="thead-dark">
    <tr>
      <th></th>
      <th>Nome</th>
      <th>Perfil</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let student of studentUserAccounts$ | async; let i = index;" id="{{i}}">
      <td class="text-center"><img alt="" class="rounded-circle" 
        src="https://vignette.wikia.nocookie.net/aleixo/images/7/75/Renato_disco.jpg/revision/latest?cb=20121207145720" width="40"></td>
      <td >{{student.studentUser.name}}</td>
      <td>
        <button (click)="showProfile(student.studentUser.id)" class="btn btn-success">Ver</button> 
      </td>
    </tr>
  </tbody>
  </table>
</div>


