<!-- <p>admin-students works!</p> -->

  <!-- Table -->
  <h3>Formandos</h3>

  <div class="container">
  <table class="table table-striped table-hover container m-3 col-12 text-center">
    <thead class="thead-dark">
    <tr>
      <th></th>
      <th>Nome</th>
      <th>Perfil</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let student of studentUserAccounts$ | async; let i = index;" id="{{i}}">
      <td class="text-center"><img alt="" class="rounded-circle" 
        src="https://vignette.wikia.nocookie.net/aleixo/images/7/75/Renato_disco.jpg/revision/latest?cb=20121207145720" width="40"></td>
      <td >{{student.studentUser.name}}</td>
      <td>
        <button (click)="showProfile(student.studentUser.id)" class="btn btn-success">Ver</button> 
      </td>
    </tr>
  </tbody>
  </table>
</div>


