<h4>Titulo da edicao selecionada no side bar</h4>
<accordion>
   
    <accordion-group *ngFor="let lesson of lessons; let i = index;" heading="{{lesson.name}} - Aula {{i+1}}">
<div>
            <p><b>Descriçao</b></p>
            <p>{{lesson.description}}</p>
            <p><b>Materials</b></p>
            <label for=""></label>
            <div>
                <a class="btn btn-primary" href="https://getbootstrap.com/" role="button" target="_blank">bootstrap</a>
                <a class="btn btn-primary" href="https://getbootstrap.com/" role="button" target="_blank">bootstrap</a>
                <a class="btn btn-primary" href="https://getbootstrap.com/" role="button" target="_blank">bootstrap</a>
            </div>
            <hr>
            <accordion-group heading="notas">
           <p>{{lesson.name}}</p>

          

        </accordion-group>

        </div>
    </accordion-group>
</accordion>