<h4>Titulo da edicao selecionada no side bar</h4>
<accordion>
    <accordion-group heading="titulo da aula - Aula 1">
        This content is straight in the template.


    </accordion-group>
    <accordion-group heading="titulo da aula - Aula 2">
        <p>Some content</p>
    </accordion-group>
    <accordion-group heading="titulo da aula - Aula 3">
        <p>Some content</p>
    </accordion-group>
    <accordion-group heading="titulo da aula - Aula 4">
        <p>Some content</p>
    </accordion-group>
</accordion>