<div class="wrapper">
  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading"></div>
      <div class="list-group list-group-flush">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Academias
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button">Academia 1</button>
            <button class="dropdown-item" type="button">Academia 3</button>
            <button class="dropdown-item" type="button">Academia 3</button>
          </div>
        <a href="#" class="list-group-item list-group-item-action bg-light">Aulas</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Notas</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Forum</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Calendario</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <div class="container-fluid">
        <h1 class="mt-4">Espaços ecra aplicacao gestao aulas</h1>
     
      </div>
    </div>