<!-- <p>questionnaire works!</p> -->
<!-- <button routerLink="/questionario" >questionarios</button>
<label>Pergunta:</label> -->


<!-- <router-outlet></router-outlet> -->










<div class="d-block overflow-auto">
<div class="float-left" style="height: 100vh; min-width: 64px; max-width: 190px;"><app-sidebar ></app-sidebar></div>
<div style=" *ngIf= width: auto; min-width: 18vh; height: 100vh; padding-left: 5%; padding-right: 5%;  margin-left: 20vh;"><router-outlet ></router-outlet></div>
</div>





<!-- <div style=" margin-top: 50px;
margin-left: 200px;">
<div style="  position: fixed; top: 50px; left: 0px; bottom: 0px; width: 190px;"><app-sidebar></app-sidebar></div>
<div style=" position: relative; width: auto; height: 80%; margin-left: 100px; margin-right: 100px; "><router-outlet></router-outlet></div>
</div> -->
