<!-- <p>questionnaire works!</p> -->
<!-- <button routerLink="/questionario" >questionarios</button>
<label>Pergunta:</label> -->


<!-- <router-outlet></router-outlet> -->















<div style=" margin-top: 50px;
margin-left: 200px;">
<div style="  position: fixed; top: 50px; left: 0px; bottom: 0px; width: 200px;"><app-sidebar></app-sidebar></div>
<div style=" position: relative; width: auto; height: 80%; margin-left: 100px; margin-right: 100px; "><router-outlet></router-outlet></div>
</div>