<div class="container col-md-12" style="background-color: palegreen;">
    <div class="row text-center" style="background-color: palevioletred;">
        <div class="col-md-12 mt-2 text-left"><p style="font-weight: bolder; font-size: larger;">Declarações de Recebimento</p></div>
    </div>
    <div class="row text-center" style="background-color: peru;">
        <div class="col-md-12 mt-2 text-left"><p>LISTAGEM</p></div>
        <div *ngFor="let declararion of declarations$ | async" >
            <div><p><fa-icon [icon]="faArrowDown" style="color: purple;"></fa-icon>{{declararion.dateSent}} / {{declararion.dateReceived}} URL:<a href="declararion.fileUrlSent">{{declararion.fileUrlSent}}</a></p></div>
        </div>
    </div>
</div>