<div>
  <table class="table table-striped container m-3 col-9 text-center">
    <thead class="thead-dark">
      <tr>
        <th>Título</th>
        <!-- <th scope="col-2">Data</th> -->
        <!-- <th scope="col-1">Ordenar</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of pageOfItems; let i= index">
        <td>{{row.name}} <button id="btnStat" *ngIf="showViewBtn[i]" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}" routerLink="/questionario/historico/ver" (click)="viewThisQuestionnaire(row.id)">Est</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div id="pagination">
  <jw-pagination [items]="history" (changePage)="onChangePage($event)"></jw-pagination>
</div>

<!--   <a routerLink= "/questionario/historico/estatisticas">Estatisticas do Formulario Especifico</a>
 -->