<table class="table table-striped container m-3 col-12 text-center">
  <thead class="thead-dark">
    <tr>
      <th></th>
      <th>Título</th>
      <!-- <th scope="col-2">Data</th> -->
      <!-- <th scope="col-1">Ordenar</th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of history; let i= index; ">
      <th>{{i+1}}</th>
      <td>{{row.name}}</td>
      <button *ngIf="showStatsBtn" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
        routerLink="/questionario/historico/estatisticas">Est</button>
    </tr>
  </tbody>
</table>

<!--   <a routerLink= "/questionario/historico/estatisticas">Estatisticas do Formulario Especifico</a>
 -->