<div class="container col-md-12 ">
    <div class="row text-center  ">
        <div class="col-md-3 mt-3 text-left ">
            <img class="rounded-circle center-block" style="width: auto; max-height: 200px;" alt="100x100"
                src="https://vignette.wikia.nocookie.net/aleixo/images/7/75/Renato_disco.jpg/revision/latest?cb=20121207145720"
                data-holder-rendered="true">

            <button type="button" class="btn btn-success" (click)='MakeEdit()'>EDITA_ME</button>
            <div *ngIf="isShown"><button type="button" class="btn btn-danger" (click)='MakeEdit()'>SAVE</button></div>
            
        </div>

        <div class="col-md-8 text-left mb-3 mt-3 ml-3">

            <div>
                <form [formGroup]="profileForm">
                    <div> <label style="font-weight: bolder;">Nome:<input type="text" placeholder={{name}}
                                class="form-control" id="firstName" formControlName="notEditable"></label> </div>
                    <div class="h-divider"></div>
                    <label style="font-weight: bolder;">Data de Nascimento:<input type="text" placeholder="12/04/2018"
                            class="form-control" id="firstName" formControlName="editable"></label>
                    <div class="h-divider"></div>
                    <label style="font-weight: bolder;">Academic Background:<input type="text" placeholder={{name}}
                            class="form-control" id="firstName" formControlName="editable"></label>
                    <div class="h-divider"></div>
                    <label style="font-weight: bolder;">Grau académico:<input type="text" placeholder={{name}}
                            class="form-control" id="firstName" formControlName="editable"></label>
                    <div class="h-divider"></div>
                    <label style="font-weight: bolder;">NIF:<input type="number" placeholder={{name}}
                            class="form-control" id="firstName" formControlName="notEditable"></label>
                    <div class="h-divider"></div>
                </form>
            </div>
        </div>
    </div>
    <div class="row text-center" >
        <div class="col-md-3 text-right " >
            <div style="font-weight: bolder; font-style: italic; font-size: large;">Contactos:</div>
        </div>
        <div class="col-md-8 ml-3 text-left " >
            <form [formGroup]="profileForm">
                <div> <label style="font-weight: bolder;">Email:<input type="text" placeholder={{name}}
                            class="form-control" id="firstName" formControlName="notEditable"></label> </div>
                <div class="h-divider"></div>
                <label style="font-weight: bolder;">Linkedin:<input type="text" placeholder="12/04/2018"
                        class="form-control" id="firstName" formControlName="editable"></label>
                <div class="h-divider"></div>
                <label style="font-weight: bolder;">Telemovel:<input type="text" placeholder={{name}}
                        class="form-control" id="firstName" formControlName="editable"></label>
                <div class="h-divider"></div>
            </form>
        </div>
    </div>
    <div class="row text-center" style="background-color:red">
        <div class="col-md-12 mb-3 mt-3 text-left ">
            <div>
                <div style="font-weight: bolder;">FALTAS</div>
                <div>{{name}}</div>
                <div class="h-divider"></div>
            </div>
        </div>
    </div>
</div>