#teste2 {
    background-color: yellow;
  }

#teste1 {
    background-color:green;
  }

.h-divider{
    margin-top:3px;
    margin-bottom:5px;
    height:1px;
    width:500px;
    border-top:1px solid gray;
   }

   .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
 }

 .form-control:disabled {
  width:500px;
  padding: 3px;
  height: 80%;
 }

 .form-control {
  width:500px;
  padding: 3px;
  height: 80%;
 }