<!-- <p>teacher-academy works!</p> -->

<div class="container ml-4 mt-4" style="width: 1100px">

    <h4 class="mb-4">Academia do Formador</h4>

    <div *ngIf = "academy$ | async as academy">
    <div id="InfoBox" class="form-inline">
        <div class="float-left" style="width: 500px;">
            <h5>Cliente: <span class="badge badge-secondary"> *client* {{ academy.client }} </span></h5>
                
            <h5>Data de começo: <span class="badge badge-secondary"> *startDate* {{ academy.startDate }} </span></h5>
                
            <h5>Nome da edição: <span class="badge badge-secondary"> *edName* {{ academy.edName }} </span></h5>
        </div>

        <div class="float-left" style="width: 400px;">
            <h5>Tipo de academia: <span class="badge badge-secondary"> *academyType* {{ academy.academyType }} </span></h5>
                
            <h5>Data de finalização: <span class="badge badge-secondary"> *endDate* {{ academy.endDate }} </span></h5>
                
            <h5>Status: <span class="badge badge-secondary"> *status* {{ academy.status }} </span></h5>
        </div>
    </div>

    <div class="inline">

      <div class="input-group my-2">
        <div class="input-group-prepend">
          <span class="input-group-text">warning</span>
        </div>
        <textarea name="warning" [(ngModel)]="academy.warning" class="form-control" aria-label="With textarea"></textarea>
        <button type="button" (click)="refreshWarningAndInfo()" class="btn btn-success ml-4">Submeter</button>
      </div>

      <div class="input-group my-2">
        <div class="input-group-prepend">
          <span class="input-group-text">useful info</span>
        </div>
        <textarea name="usefulInfo" [(ngModel)]="academy.usefulInfo" class="form-control" aria-label="With textarea">{{ academy.usefulInfo }}</textarea>
        <button type="button" (click)="refreshWarningAndInfo()" class="btn btn-success ml-4">Submeter</button>
      </div>

    </div>
  
  </div>
    

    <div>
        <button type="button" class="btn btn-primary btn-sm mt-5">Módulos</button>   
    </div>

</div>