<div *ngIf="user$ | async as user">
    <div *ngIf="account$ | async as account">
        <form class="ml-4" #updateAccountForm="ngForm" (ngSubmit)="updateAccount()">
            <div class="py-2">
                <button class="btn btn-primary float-right" *ngIf="inUpdate===false"
                    (click)="toggleUpdateAccount()">Editar</button>
                <button *ngIf="inUpdate===true" type="submit"
                    class="btn btn-primary float-right mx-2">Atualizar</button>
                <button class="btn btn-danger float-right mx-2" *ngIf="inUpdate===true"
                    (click)="openModal(templateConfirmDeleteAccount)">Remover Conta</button>
                <h3>Perfil de {{user.name}}</h3>
            </div>
            <div class="row text-center  ">
                <div class="col-md-4 mt-3 text-center ">
                    <img class="rounded-circle center-block" style="width: auto; max-height: 200px;" alt="100x100"
                        [src]="account.photoLink === null ? 'https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png' : account.photoLink"
                        data-holder-rendered="true">
                    <div *ngIf="inUpdate" class="text-left">
                        <label style="font-weight: bolder;">Mudar Foto:<input #photoLinkField="ngModel" [(ngModel)]="account.photoLink" 
                            name="photoLink" id="photoLink" type="text" class="form-control" [placeholder]="account.photoLink === null ? '' : account.photoLink"></label>
                        </div>
                </div>

                <div class="col-md-7 text-left my-3 ml-3">

                    <div>
                        <div class="h-divider"></div>
                        <label style="font-weight: bolder;">Data de Nascimento:<input [readonly]="!inUpdate"
                                #ageField="ngModel" [(ngModel)]="account.age" name="age" id="age" type="date"
                                [ngClass]="{'form-control': inUpdate, 'form-control-plaintext': !inUpdate}"
                                [placeholder]="account.age === null ? '' : account.age"></label>
                        <div class="h-divider"></div>
                        <label style="font-weight: bolder;">Área de Formação:<input [readonly]="!inUpdate"
                                #academicBackgroundField="ngModel" [(ngModel)]="account.academicBackground"
                                id="academicBackground" name="academicBackground" type="text"
                                [ngClass]="{'form-control': inUpdate, 'form-control-plaintext': !inUpdate}"
                                [placeholder]="account.academicBackground === null ? '' : account.academicBackground"></label>
                        <div class="h-divider"></div>
                        <label style="font-weight: bolder;">Grau académico:<input [readonly]="!inUpdate"
                                #academicDegreeField="ngModel" [(ngModel)]="account.academicDegree" id="academicDegree"
                                name="academicDegree" type="text"
                                [ngClass]="{'form-control': inUpdate, 'form-control-plaintext': !inUpdate}"
                                [placeholder]="account.academicDegree === null ? '' : account.academicDegree"></label>
                        <div class="h-divider"></div>
                        <label style="font-weight: bolder;">NIF:<input [readonly]="!inUpdate" #nifField="ngModel"
                                [(ngModel)]="account.nif" id="nif" name="nif" type="number"
                                [ngClass]="{'form-control': inUpdate, 'form-control-plaintext': !inUpdate}"
                                placeholder="account.nif"></label>
                        <div class="h-divider"></div>

                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4 text-left ">
                    <div style="font-weight: bolder; font-style: italic; font-size: large;">Contactos:</div>
                    <div> <label style="font-weight: bolder;">Email: </label>
                        <div> {{user.email}}</div>
                    </div>
                    <div class="h-divider"></div>
                    <label style="font-weight: bolder;">Linkedin:<input [readonly]="!inUpdate"
                            #linkedInAdressField="ngModel" [(ngModel)]="account.linkedInAdress" id="linkedInAdress"
                            name="linkedInAdress" type="text"
                            [ngClass]="{'form-control': inUpdate, 'form-control-plaintext': !inUpdate}"
                            [placeholder]="account.linkedInAdress === null ? '' : account.linkedInAdress"></label>
                    <div class="h-divider"></div>
                    <label style="font-weight: bolder;">Telemovel:<input [readonly]="!inUpdate"
                            #mobilePhoneField="ngModel" [(ngModel)]="account.mobilePhone" id="mobilePhone"
                            name="mobilePhone" type="text"
                            [ngClass]="{'form-control': inUpdate, 'form-control-plaintext': !inUpdate}"
                            placeholder="account.mobilePhone"></label>
                    <div class="h-divider"></div>
                </div>
                <div class="col-md-7 ml-3 text-left ">
                    <div style="font-weight: bolder; font-style: italic; font-size: large;">Academias:</div>
                    <div *ngIf="accountAcademies === undefined">
                        <p><i>Sem academias</i></p>
                    </div>
                    <div *ngIf="accountAcademies$ | async as academies">
                        <div *ngIf="academies?.length === 0 || academies === null">
                            <p><i>Sem academias</i></p>
                        </div>
                        <div *ngIf="academies?.length > 0">
                            <div *ngFor="let academy of academies">
                                <span><a href="">{{academy.edName}}</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="h-divider"></div>
                    
                    <!--  Temas (só para formadores) -->
                    <div *ngIf="user?.role === 'SUPERUSER'">

                        <div style="font-weight: bolder; font-style: italic; font-size: large;">Temas que o formador
                            lecciona:</div>


                        <div *ngIf="!inUpdate">
                            <div *ngIf="account?.themes.length === 0">
                                <p><i>Sem temas</i></p>
                            </div>
                            <div *ngIf="account?.themes.length > 0">
                                <div *ngFor="let theme of account.themes">
                                    <span>{{theme.name}} </span>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="inUpdate">
                            <div class="row" *ngIf="allThemes$ | async as allThemes">
                                <ngx-bootstrap-multiselect name="themes" [(ngModel)]="account.themes"
                                    [items]="themeDropdownList" [settings]="dropdownSettings">
                                </ngx-bootstrap-multiselect>
                                <button class="btn btn-primary" (click)="openModal(templateAddTheme)">Adicionar
                                    tema</button>
                            </div>
                        </div>

                    </div>
                    <!-- Faltas (só para formandos) -->
                    <div *ngIf="user?.role === 'USER'">
                        <div class="mt-3" *ngIf="misses$ | async as misses">

                            <div style="font-weight: bolder; font-style: italic; font-size: large;">Faltas:</div>
                            
                                <div *ngIf="misses?.length === 0">
                                    <p><i>Sem faltas</i></p>
                                </div>
                                <div *ngIf="misses?.length > 0">
                                    <div *ngFor="let missed of misses">
                                        <div>
                                            <p *ngIf="missed.justified == true">Data:{{missed.data}} <img
                                                    style="height: 25px; width: auto;" data-toggle="tooltip"
                                                    title="Justificada"
                                                    src="https://cdn.pixabay.com/photo/2012/05/07/02/13/accept-47587_960_720.png">
                                                    <button *ngIf="inUpdate" class="btn btn-danger" (click)="changeJustified(missed.id)">Tornar Injustificada</button>
                                            </p>
                                        </div>
                                        <div>
                                            <p *ngIf="missed.justified != true">Data:{{missed.data}} <img
                                                    style="height: 25px; width: auto;" data-toggle="tooltip"
                                                    title="Não Justificada"
                                                    src="https://cdn.pixabay.com/photo/2012/05/07/02/13/cancel-47588_960_720.png">
                                                    <button *ngIf="inUpdate" class="btn btn-success" (click)="changeJustified(missed.id)">Justificar</button>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                    <button *ngIf="inUpdate" class="btn btn-primary" (click) = "openModal(templateAddMissedDay)">Adicionar Falta</button>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <button (click)="returnToTable()" class="btn btn-secondary mx-auto">Voltar</button>
            </div>
        </form>


        <ng-template #templateConfirmDeleteAccount>
            <div class="modal-header">Remover Conta de Utilizador</div>
            <div class="modal-body container">
                <p><strong>Tem a certeza que quer remover a conta de <span
                            class="text-primary">"{{user.name}}"?</span></strong>
                </p>
                <p>Toda a informação será apagada permanentemente.</p>
                <p class="text-danger">Esta operação não pode ser revertida!</p>

            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-secondary mx-2" (click)="modalRef.hide()">Cancelar</button>
                <button class="btn btn-danger mx-2" (click)="deleteAccount()">Sim</button>
            </div>
        </ng-template>

        <ng-template #templateAddMissedDay>
            <div class="modal-header">Adicionar Falta</div>
            <form #addMissedDayForm="ngForm" (ngSubmit)="addMissedDay()">
            <div class="modal-body container">
                <p><strong>Adicionar falta a <span class="text-primary">"{{user.name}}"?</span></strong></p>
                    <div class="row">
                <label>Data:</label>
                <input #dataField="ngModel" [(ngModel)]="newMissedClass.data" id="data" name="data" type="date" class="form-control" required>
                </div>
                <div class="row">
                    <label>Justificação:</label>
                    <select #justifiedField="ngModel" [(ngModel)]="newMissedClass.justified" id="justified" name="justified"  class="form-control" required>
                        <option value="true">Sim</option>
                        <option value="false">Não</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-primary" type="submit">Adicionar</button>
            </div>
        </form>
        </ng-template>

        <ng-template #templateAddTheme>
            <div class="modal-header">Adicionar Tema</div>
            <form #addThemeForm="ngForm" (ngSubmit)="addTheme()">
                <div class="modal-body container">
                    <input type="text" [(ngModel)]="newTheme.name" name="name" required>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit">Adicionar</button>

                </div>
            </form>
        </ng-template>

    </div>
</div>