<div *ngIf="user$ | async as user">
    <div *ngIf="account$ | async as account">
        <form #updateStudentAccountForm="ngForm" (ngSubmit)="updateTeacherAccount()">
        <div class="py-2">
            <button class="btn btn-primary float-right" *ngIf="inUpdate===false" (click)="toggleUpdateAccount()">Editar</button>
            <button *ngIf="inUpdate===true" type="submit" class="btn btn-primary float-right mx-2">Atualizar</button>
            <button class="btn btn-danger float-right mx-2" *ngIf="inUpdate===true" (click)="openModalConfirmDelete(templateConfirmDeleteAccount)">Remover Conta</button>
            <h4>Perfil de {{user.name}}</h4>
        </div >
            <div class="row text-center  ">
                <div class="col-md-4 mt-3 text-center ">
                    <img class="rounded-circle center-block" style="width: auto; max-height: 200px;" alt="100x100"
                        src="https://vignette.wikia.nocookie.net/aleixo/images/7/75/Renato_disco.jpg/revision/latest?cb=20121207145720"
                        data-holder-rendered="true">

                    <!-- <button type="button" class="btn btn-success" >EDITA_ME</button>
                <div *ngIf="inUpdate===true"><button type="button" class="btn btn-danger" >SAVE</button></div> -->

                </div>

                <div class="col-md-7 text-left my-3 ml-3">

                    <div>
                        <label style="font-weight: bolder;">Data de Nascimento:<input [readonly]="!inUpdate"
                                #ageField="ngModel" [(ngModel)]="account.age" name="age" id="age" type="date"
                                [ngClass]="{'form-control': inUpdate, 'form-control-plaintext': !inUpdate}"
                                placeholder="account.age"></label>
                        <div class="h-divider"></div>
                        <label style="font-weight: bolder;">Área de Formação:<input [readonly]="!inUpdate"
                                #academicBackgroundField="ngModel" [(ngModel)]="account.academicBackground"
                                id="academicBackground" name="academicBackground" type="text"
                                [ngClass]="{'form-control': inUpdate, 'form-control-plaintext': !inUpdate}"
                                [placeholder]="account.academicBackground === null ? '' : account.academicBackground"></label>
                        <div class="h-divider"></div>
                        <label style="font-weight: bolder;">Grau académico:<input [readonly]="!inUpdate"
                                #academicDegreeField="ngModel" [(ngModel)]="account.academicDegree" id="academicDegree"
                                name="academicDegree" type="text"
                                [ngClass]="{'form-control': inUpdate, 'form-control-plaintext': !inUpdate}"
                                [placeholder]="account.academicDegree === null ? '' : account.academicDegree"></label>
                        <div class="h-divider"></div>
                        <label style="font-weight: bolder;">NIF:<input [readonly]="!inUpdate" #nifField="ngModel"
                                [(ngModel)]="account.nif" id="nif" name="nif" type="number"
                                [ngClass]="{'form-control': inUpdate, 'form-control-plaintext': !inUpdate}"
                                placeholder="account.nif"></label>
                        <div class="h-divider"></div>

                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4 text-right ">
                    <div style="font-weight: bolder; font-style: italic; font-size: large;">Contactos:</div>
                </div>
                <div class="col-md-7 ml-3 text-left ">
                    <div> <label style="font-weight: bolder;">Email: </label>
                        <div> {{user.email}}</div>
                    </div>
                    <div class="h-divider"></div>
                    <label style="font-weight: bolder;">Linkedin:<input [readonly]="!inUpdate"
                            #linkedInAdressField="ngModel" [(ngModel)]="account.linkedInAdress" id="linkedInAdress"
                            name="linkedInAdress" type="text"
                            [ngClass]="{'form-control': inUpdate, 'form-control-plaintext': !inUpdate}"
                            [placeholder]="account.linkedInAdress === null ? '' : account.linkedInAdress"></label>
                    <div class="h-divider"></div>
                    <label style="font-weight: bolder;">Telemovel:<input [readonly]="!inUpdate"
                            #mobilePhoneField="ngModel" [(ngModel)]="account.mobilePhone" id="mobilePhone"
                            name="mobilePhone" type="text"
                            [ngClass]="{'form-control': inUpdate, 'form-control-plaintext': !inUpdate}"
                            placeholder="account.mobilePhone"></label>
                    <div class="h-divider"></div>
                </div>
            </div>
            <!--         <div class="row">
          <div class="col-md-4 text-right">
            <div style="font-weight: bolder; font-style: italic; font-size: large;">Temas que o formador lecciona:</div>
          </div>
          <div class="col-md-7 ml-3 text-left">
            <div *ngFor="let theme of account.themes | async">
              <p *ngIf="!inUpdate">{{theme.name}} </p>
            </div>
            <input *ngIf="inUpdate" type="text" [placeholder]="account.themes === null ? '' : account.themes">
          </div>
        </div> -->
            <div class="row">
                <button (click)="returnToTable()" class="btn btn-secondary mx-auto">Voltar</button>
            </div>
        </form>
        
        
    <ng-template #templateConfirmDeleteAccount>
        <div class="modal-header">Remover Conta de Utilizador</div>
        <div class="modal-body container">
            <p><strong>Tem a certeza que quer remover a conta de <span
                        class="text-primary">"{{user.name}}"?</span></strong>
            </p>
            <p>Toda a informação será apagada permanentemente.</p>
                <p class="text-danger">Esta operação não pode ser revertida!</p>
            
        </div>
        <div class="modal-footer">
            <button class="btn btn-outline-secondary mx-2" (click)="modalRef.hide()">Cancelar</button>
            <button class="btn btn-danger mx-2" (click)="deleteAccount()">Sim</button>
        </div>
    </ng-template>
</div>
</div>