<div>
    <h3>Forum</h3>

    <h4 class="text-center"><b>Criar nova pergunta:</b></h4>

    <form class="mg-5 mt-3 container" (ngSubmit)="createQuestion()">
        <div class="form-group row">
            <label for="title" class="col-sm-2 col-form-label">Titulo:</label>
            <div class="col-sm-10">
                <input [(ngModel)]="title" name="title" id="title" type="text" class="form-control" placeholder="Insira o titulo da pergunta">
            </div>
        </div>
        <div class="form-group row">
            <label for="type" class="col-sm-2 col-form-label">Descriçao:</label>
            <div class="col-sm-10">
                <textarea [(ngModel)]="description" name="description" id="description" type="text" class="form-control"
                    placeholder="Insira a descriçao da pergunta" rows="5"></textarea>
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-secondary mx-auto">Criar</button>
        </div>
    </form>
    <br>

    <h4 class="text-center"><b>Perguntas existentes:</b></h4>

    <div *ngIf="questions$ ==null">
        <p>Atualmente nao existem perguntas</p>
    </div>

    <div >
        <accordion>

            <accordion-group *ngFor="let question of questions$ | async; let i = index; " heading="{{question.title}}"
                id="{{i}}" (click)="getAnswersByQuestionId(question.id, i)">
                <div>
                    <p><b>Descriçao:</b></p>
                    <p>{{question.description}}</p>
                    <hr>


                    <!-- nao esta a funcionar: -->
                    <!-- <div *ngIf="answers$ !=null"> -->
                    <div>
                        <p><b>Respostas:</b></p>
                        <hr>

                        <div *ngFor="let answer of answers$ | async ">
                            {{answer.answer}}
                            <hr>
                        </div>

                    </div>



                </div>
            </accordion-group>
        </accordion>
    </div>

</div>