.btn-borderless {
    width: 30px;
    height: 30px;
    border-color: transparent;
    background-color: transparent;
    color: grey;
}

.btn-edit:hover {
    color: darkgray;
}

.btn-delete:hover {
    color: red;
}

.teste1 {
    overflow-x: scroll;
}
table {
    table-layout: fixed;
    word-wrap: break-word;
}

.scrollContainer {
    height: 100%;
    overflow-y: scroll;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.btn-secondary {
    background-color: #343a40;
}

.btn-danger {
    background-color: #b52d3a;
    border-color: #b52d3a;
}