.btn-borderless {
    width: 30px;
    height: 30px;
    border-color: transparent;
    background-color: transparent;
    color: grey;
}

.btn-edit:hover {
    color: darkgray;
}

.btn-delete:hover {
    color: red;
}

.teste1 {
    overflow-x: scroll;
}
table {
    table-layout: fixed;
    word-wrap: break-word;
}

