<div class="ml-4">

  <div class="float-left mb-4 ml-3">
    <button type="button" class="btn btn-primary btn-md mt-4 float-left" (click)="openModalAddAcademy(templateAddAcademy)">Nova
      Academia</button>
  </div>

<table class="table table-sm table-striped container m-3 ml-3 col-12 text-center" style="width: 1100px;">
  <thead class="thead-dark">
    <tr>
      <th>Nome</th>
      <th>Ver</th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let academy of academies$ | async; let i = index;" id="{{i}}">
      <td>{{academy.edName}}</td>
      <td>
        <button class="btn btn-success">Ver</button>
      </td>
      <td>
        <button (click)="openModalUpdateAcademy(templateUpdateAcademy, academy)" class="btn-borderless btn-edit">
          <fa-icon [icon]="faEdit"></fa-icon>
        </button>
      </td>
      <td>
        <button (click)="openModalConfirmDeleteAcademy(templateConfirmDeleteAcademy, i)" class="btn-borderless btn-delete">
          <fa-icon [icon]="faTrashAlt"></fa-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal Add Academy -->
<ng-template #templateAddAcademy>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Nova Academia</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body container">
    Preencha os dados abaixo:
    <form class="mg-5 mt-3 container" #addAcademyForm="ngForm" (ngSubmit)="createAcademy()">

      <div class="form-group row">
        <label for="edName" class="col-sm-2 col-form-label">Nome:</label>
        <div class="col-sm-10">
          <input #edNameField="ngModel" [(ngModel)]="academyToCreate.edName" name="edName" id="edName" type="text"
            class="form-control" placeholder="Digite aqui o nome desta edição" required>
          <small class="text-danger" [hidden]="edNameField.valid">Campo Obrigatório</small>
        </div>
      </div>

      <div class="form-group row">
        <label for="academyType" class="col-sm-2 col-form-label">Tipo:</label>
        <div class="col-sm-10">
          <input #academyTypeField="ngModel" [(ngModel)]="academyToCreate.academyType" name="academyType"
            id="academyType" type="text" class="form-control" placeholder="Digite aqui o tipo desta academia" required>
          <small class="text-danger" [hidden]="academyTypeField.valid">Campo Obrigatório</small>
        </div>
      </div>

      <div class="form-group row">
        <label for="dates" class="col-sm-2 col-form-label">Data:</label>
        <div [formGroup]="datesForm" class="col-sm-7">
          <input type="text"
            id="datesArray"
            class="form-control"
            formControlName="dateRange"
            #daterangepicker="bsDaterangepicker"
            bsDaterangepicker
            [bsConfig]="{ rangeInputFormat : 'YYYY-MM-DD', dateInputFormat: 'YYYY-MM-DD' }"
            (change)="getDates()"
            placement="bottom"
            required>
        </div>
        <div class="col-sm-1 form-group">
          <button class="btn-sm btn-success" (click)="daterangepicker.toggle()" [attr.aria-expanded]="daterangepicker.isOpen" type="button">Selecionar Datas</button>
        </div>
      </div>

      <!-- [bsConfig]="{ rangeInputFormat : 'YYYY-MM-DD', dateInputFormat: 'YYYY-MM-DD', showWeekNumbers: false }" -->

      <!-- <div class="form-group row">
        <label for="startDate" class="col-sm-5 col-form-label">Data de Início:</label>
        <div class="col-sm-7">
          <input #startDateField="ngModel" [(ngModel)]="academyToCreate.startDate" id="startDate" name="startDate"
            type="date" class="form-control" placeholder="Digite aqui a data de início" required>
          <small class="text-danger" [hidden]="startDateField.valid">Campo Obrigatório</small>
        </div>
      </div>
      <div class="form-group row">
        <label for="endDate" class="col-sm-5 col-form-label">Data de Término:</label>
        <div class="col-sm-7">
          <input #endDateField="ngModel" [(ngModel)]="academyToCreate.endDate" id="endDate" name="endDate" type="date"
            class="form-control" placeholder="Digite aqui a data de término" required>
          <small class="text-danger" [hidden]="endDateField.valid">Campo Obrigatório</small>
        </div>
      </div> -->




      <div class="form-group row">
        <label for="client" class="col-sm-2 col-form-label">Cliente:</label>
        <div class="col-sm-10">
          <input #clientField="ngModel" [(ngModel)]="academyToCreate.client" id="client" name="client" type="text"
            class="form-control" placeholder="Digite aqui o nome do cliente">
        </div>
      </div>
      <div class="form-group row">
        <label for="modules" class="col-sm-2 col-form-label">Módulos:</label>
        <div class="col-sm-10">
          <input #modulesField="ngModel" [(ngModel)]="academyToCreate.modules" id="modules" name="modules" type="text"
            class="form-control" placeholder="Digite aqui os módulos da academia">
        </div>
      </div>
      <div class="form-group row">
        <label for="students" class="col-sm-2 col-form-label">Alunos:</label>
        <div class="col-sm-10">
          <input #studentsField="ngModel" [(ngModel)]="academyToCreate.students" id="students" name="students"
            type="text" class="form-control" placeholder="Digite aqui os nomes dos alunos">
        </div>
      </div>
      <div class="form-group row">
        <label for="warning" class="col-sm-2 col-form-label">Aviso:</label>
        <div class="col-sm-10">
          <input #warningField="ngModel" [(ngModel)]="academyToCreate.warning" id="warning" name="warning" type="text"
            class="form-control" placeholder="Digite aqui o primeiro aviso">
        </div>
      </div>
      <div class="form-group row">
        <label for="usefulInfo" class="col-sm-3 col-form-label">Informação útil:</label>
        <div class="col-sm-9">
          <input #usefulInfoField="ngModel" [(ngModel)]="academyToCreate.usefulInfo" id="usefulInfo" name="usefulInfo"
            type="text" class="form-control" placeholder="Digite aqui informação útil">
        </div>
      </div>
      <div class="row">
        <button type="submit" [disabled]="!addAcademyForm.valid" class="btn btn-primary mx-auto">Criar</button>
      </div>
    </form>
  </div>
</ng-template>

<!-- Modal Update Academy -->
<ng-template #templateUpdateAcademy>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Editar Academia</h4>
  </div>
  <div class="modal-body container">
    Edite os dados abaixo:
    <form class="mg-5 mt-3 container" #updateAcademyForm="ngForm" (ngSubmit)="updateAcademy()">
      <div class="form-group row">
        <label for="edName" class="col-sm-2 col-form-label">Nome:</label>
        <div class="col-sm-10">
          <input #edNameField="ngModel" [(ngModel)]="academyToUpdate.edName" name="edName" id="edName" type="text"
            class="form-control" placeholder="Digite aqui o nome desta edição" required>
          <small class="text-danger" [hidden]="edNameField.valid">Campo Obrigatório</small>
        </div>
      </div>
      <div class="form-group row">
        <label for="academyType" class="col-sm-2 col-form-label">Tipo:</label>
        <div class="col-sm-10">
          <input #academyTypeField="ngModel" [(ngModel)]="academyToUpdate.academyType" name="academyType"
            id="academyType" type="text" class="form-control" placeholder="Digite aqui o tipo desta academia" required>
          <small class="text-danger" [hidden]="academyTypeField.valid">Campo Obrigatório</small>
        </div>
      </div>
      <div class="form-group row">
        <label for="startDate" class="col-sm-5 col-form-label">Data de Início:</label>
        <div class="col-sm-7">
          <input #startDateField="ngModel" [(ngModel)]="academyToUpdate.startDate" id="startDate" name="startDate"
            type="date" class="form-control" placeholder="Digite aqui a data de início" required>
          <small class="text-danger" [hidden]="startDateField.valid">Campo Obrigatório</small>
        </div>
      </div>
      <div class="form-group row">
        <label for="endDate" class="col-sm-5 col-form-label">Data de Término:</label>
        <div class="col-sm-7">
          <input #endDateField="ngModel" [(ngModel)]="academyToUpdate.endDate" id="endDate" name="endDate" type="date"
            class="form-control" placeholder="Digite aqui a data de término" required>
          <small class="text-danger" [hidden]="endDateField.valid">Campo Obrigatório</small>
        </div>
      </div>
      <div class="form-group row">
        <label for="client" class="col-sm-2 col-form-label">Cliente:</label>
        <div class="col-sm-10">
          <input #clientField="ngModel" [(ngModel)]="academyToUpdate.client" id="client" name="client" type="text"
            class="form-control" placeholder="Digite aqui o nome do cliente">
        </div>
      </div>
      <div class="form-group row">
        <label for="modules" class="col-sm-2 col-form-label">Módulos:</label>
        <div class="col-sm-10">
          <input #modulesField="ngModel" [(ngModel)]="academyToUpdate.modules" id="modules" name="modules" type="text"
            class="form-control" placeholder="Digite aqui os módulos da academia">
        </div>
      </div>
      <div class="form-group row">
        <label for="students" class="col-sm-2 col-form-label">Alunos:</label>
        <div class="col-sm-10">
          <input #studentsField="ngModel" [(ngModel)]="academyToUpdate.students" id="students" name="students"
            type="text" class="form-control" placeholder="Digite aqui os nomes dos alunos">
        </div>
      </div>
      <div class="form-group row">
        <label for="warning" class="col-sm-2 col-form-label">Aviso:</label>
        <div class="col-sm-10">
          <input #warningField="ngModel" [(ngModel)]="academyToUpdate.warning" id="warning" name="warning" type="text"
            class="form-control" placeholder="Digite aqui o primeiro aviso">
        </div>
      </div>
      <div class="form-group row">
        <label for="usefulInfo" class="col-sm-3 col-form-label">Informação útil:</label>
        <div class="col-sm-9">
          <input #usefulInfoField="ngModel" [(ngModel)]="academyToUpdate.usefulInfo" id="usefulInfo" name="usefulInfo"
            type="text" class="form-control" placeholder="Digite aqui informação útil">
        </div>
      </div>
      <div class="row">
        <button type="submit" [disabled]="!updateAcademyForm.valid" class="btn btn-primary mx-auto">Atualizar</button>
      </div>
    </form>
  </div>
</ng-template>

<!-- Modal Confirm Delete Academy -->
<ng-template #templateConfirmDeleteAcademy>
  <div class="modal-body text-center">
    <p>Tem a certeza que deseja apagar a academia?</p>
    <button type="button" class="btn btn-danger" (click)="deleteAcademy()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="modalRef.hide()">Não</button>
  </div>
</ng-template>