<div class="container mb-4">
    <button type="button" class="btn btn-primary btn-lg mt-4" (click)="openModalAddAcademy(templateAddAcademy)">Nova Academia</button>
</div>

<!-- Modal Add Academy -->
<ng-template #templateAddAcademy>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Nova Academia</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body container">
      Preencha os dados abaixo:
      <form class="mg-5 mt-3 container">
        <div class="form-group row">
          <label for="edName" class="col-sm-2 col-form-label">Nome:</label>
          <div class="col-sm-10">
            <input [(ngModel)]="academyToCreate.edName" name="edName" id="edName" type="text" class="form-control"
              placeholder="Digite aqui o nome desta edição" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="startDate" class="col-sm-2 col-form-label">Data de Início:</label>
          <div class="col-sm-10">
            <input [(ngModel)]="academyToCreate.startDate" id="startDate" name="startDate" type="text" class="form-control"
              placeholder="Digite aqui a data de início" required>
          </div>
        </div>
        <div class="form-group row">
            <label for="startDate" class="col-sm-2 col-form-label">Data de Término:</label>
            <div class="col-sm-10">
              <input [(ngModel)]="academyToCreate.endDate" id="endDate" name="endDate" type="text" class="form-control"
                placeholder="Digite aqui a data de término" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="client" class="col-sm-2 col-form-label">Cliente:</label>
            <div class="col-sm-10">
              <input [(ngModel)]="academyToCreate.client" id="client" name="client" type="text" class="form-control"
                placeholder="Digite aqui o nome do cliente" required>
            </div>
        </div>
        <div class="row">
          <button (click)="createAcademy()" type="submit" class="btn btn-primary mx-auto">Criar</button>
        </div>
      </form>
    </div>
  </ng-template>

<table class="table table-striped container m-3 col-12 text-center">
    <thead class="thead-dark">
        <tr>
            <th>Nome</th>
            <th>Ver</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let academy of academies$ | async">
            <td>{{academy.edName}}</td>
            <td>
                <button class="btn btn-success">Ver</button>
            </td>
            <td>
                <button class="btn btn-primary">Editar</button>
            </td>
            <td>
                <button class="btn btn-danger">Apagar</button>
            </td>
        </tr>
    </tbody>
</table>