<!-- <p>admin-teachers works!</p> -->

<h3>Formadores</h3>

<!-- Table -->
<div class="ml-4">

    <table class="table table-sm table-striped container m-3 col-12 text-center" style="width: 1300px;">
      <thead class="thead-dark">
      <tr>
        <th></th>
        <th>Nome</th>
        <th>Perfil</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let teacher of teacherUserAccounts$ | async; let i = index;" id="{{i}}">
        <td class="text-center"><img alt="" class="rounded-circle"
            src="https://vignette.wikia.nocookie.net/aleixo/images/7/75/Renato_disco.jpg/revision/latest?cb=20121207145720"
            width="40"></td>
        <td>{{teacher.teacherUser.name}}</td>
        <td>
          <button (click)="showProfile(teacher.teacherUser.id)" class="btn btn-success">Ver</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>