<h3 class="ml-3 mt-4">Formadores</h3>

<!-- Filter Fields -->

  <div class="row ml-4">
    <div class= col-6>
      <input name="nameFilter" #nameFilter type="text" class="form-control" placeholder="Nome" (input) = "filterTable(nameFilter.value, academyFilter.value)">
    </div>
    <ngx-select [items]="allAcademiesNames" name="academyFilter" #academyFilter defaultValue="allAcademiesNames[0].id" class=col-6 placeholder="Todas as Academias" (change) = "filterTable(nameFilter.value, academyFilter.value)">
    </ngx-select>
  </div>


<!-- Table -->
<div class="ml-4">

  <table class="table table-sm table-striped container m-3 col-12 text-center" style="width: 1300px;">
    <thead class="thead-dark">
      <tr>
        <th></th>
        <th (click)="sortTable()">Nome <fa-icon [icon]="faSort"></fa-icon>
        </th>
        <th>Academias</th>
        <th>Perfil</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let teacher of teacherUserAccounts$ | async; let i = index;" id="{{i}}">
        <td class="text-center"><img alt="" class="rounded-circle"
            [src]="teacher.teacherAccount.photoLink === null ? 'https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png' : teacher.teacherAccount.photoLink"
            width="40"></td>
        <td>{{teacher.teacherUser.name}}</td>
        <td>
          <div *ngFor="let academy of teacher.academyNames">
            <p>{{academy}}</p>
          </div>
        </td>
        <td>
          <button (click)="showProfile(teacher.teacherUser.id)" class="btn btn-success">Ver</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>