.btn-borderless {
    border-color: transparent;
    background-color: transparent;
    color: grey;
}

.btn-down:hover {
    color: darkgray;
}

.rightCheck {
    font-style: italic;
    font-weight: bold;
}