.btn-borderless {
    border-color: transparent;
    background-color: transparent;
    color: grey;
}

.btn-down:hover {
    color: darkgray;
}

.rightAnswer {
    color: green !important;
}

.rightAnswerIsh {
    font-style: italic;
    font-weight: bold;
}

.wrongAnswer {
    color: red !important;
}