<div class="container">
    <div class="mb-4">
        <h1 class="text-center">{{currentQuestionnaire?.name}}</h1>

        <!-- Colocar o nome do user que vem no questionário -->
        <div>Nome: nome do User</div>
        <div>Respondido em: {{ currentQuestionnaire?.lastModifiedDate | date:'dd/MM/yyyy, HH:mm:ss' }}</div>
        <h5><span class="badge badge-secondary" *ngIf="currentQuestionnaire?.qType=='QUIZ'">Nota: {{currentQuestionnaire?.score}}%</span></h5>
    </div>

    <div>
        <accordion [isAnimated]="true">
            <accordion-group *ngFor="let question of currentQuestionnaire?.questionList; let i = index; let toggle = true;" class="mb-4">
                
                <button class="btn btn-link btn-block clearfix" accordion-heading type="button" (click)="toggle=!toggle">
                    <span *ngIf="question.aType=='SINGLE_OPTION'"></span>
                    <div class="pull-left float-left">
                        <span style="color: black;" [ngClass]="currentQuestionnaire?.qType=='QUIZ'&&(currentQuestionnaire?.answerList[i].rightAnswer ? 'rightAnswer' : 'wrongAnswer')">Questão {{i + 1}}</span>
                        <span style="color: black;">: {{question.question}}</span>
                    </div>
                    <span class="badge badge-secondary float-right pull-right btn-borderless btn-down">
                        <fa-icon size="2x" [icon]="toggle?faAngleDoubleUp:faAngleDoubleDown"></fa-icon>
                    </span>
                </button>

                <div *ngIf="question.aType=='OPEN'">
                    <div class="form-group">
                        <textarea [(ngModel)]="currentQuestionnaire?.answerList[i].answer[0]" class="form-control"
                            id="textarea{{i}}" rows="3" disabled></textarea>
                    </div>
                </div>

                <div *ngIf="question.aType=='SINGLE_OPTION'">
                    <div *ngFor="let option of question.options; let j = index;" class="form-check">
                        <input [checked]="isSelected(i, j)" class="form-check-input"
                            type="radio" name="radio{{i}}.{{j}}" id="radio{{i}}.{{j}}" value="{{j}}" disabled>
                        <label [ngClass]="checkAnswer(i, j)" class="form-check-label" for="radio{{i}}.{{j}}">{{option}}</label>
                    </div>
                </div>

                <div *ngIf="question.aType=='MULTIPLE'">
                    <div *ngFor="let option of question.options; let j = index;" class="form-check">
                        <input [checked]="isSelected(i, j)" class="form-check-input"
                            type="checkbox" value="{{j}}" name="checkbox{{i}}.{{j}}" id="checkbox{{i}}.{{j}}" disabled>
                        <label [ngClass]="checkAnswer(i, j)" class="form-check-label" for="checkbox{{i}}.{{j}}">{{option}}</label>
                    </div>
                </div>

            </accordion-group>
        </accordion>

    </div>
</div>