<!-- Sidebar -->
<div class="border-right" id="sidebar-wrapper">
  <div class="sidebar-heading"></div>


  <div class="list-group list-group-flush">
    <div class="btn-group" dropdown>
      <button id="button-animated" dropdownToggle type="button" class="btn btn-secondary dropdown-toggle"
        aria-controls="dropdown-animated">
        Academias <span class="caret"></span>
      </button>
      <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated">
        <li role="menuitem"><a class="dropdown-item" routerLink="/lessons">Academia 1</a></li>
        <li role="menuitem"><a class="dropdown-item" routerLink="/lessons">Academia 2</a>
        </li>
        <li role="menuitem"><a class="dropdown-item" routerLink="/lessons">Academia 3</a>
        </li>
      </ul>
    </div>
    <a class="list-group-item list-group-item-action bg-light" routerLink="/lessons" routerLinkActive="active">Aulas</a>
    <a class="list-group-item list-group-item-action bg-light" routerLink="/lessons/notes"
      routerLinkActive="active">Notas</a>
    <a class="list-group-item list-group-item-action bg-light" routerLink="/lessons/forum"
      routerLinkActive="active">Forum</a>
    <a class="list-group-item list-group-item-action bg-light" routerLink="/lessons/calendar"
      routerLinkActive="active">Calendario</a>
  </div>
</div>
<!-- /#sidebar-wrapper -->