<div>
<h4>Bem-Vindo</h4>
</div>
  <div class= "mr-5">
   <alert type="warning" class="alert-link container" dismissible="true" onClosed="onClosed(alert)">datatest <!--{{ academy.warning }}--></alert>
  </div>
    <div class= "mr-5">
    <ul class="list-group">
      <!--  <H3 class="list-group-item">{{academy.usefulInfo}}</H3> -->
        <li class="list-group-item"> </li>
        <li class="list-group-item"></li>
        <li class="list-group-item"></li>
        <li class="list-group-item"></li>
      </ul>
</div>