<div class="container-fluid mt-2 ml-4 d-flex justify-content-center">
    <div>TESTESTE</div>

    <!-- <div id="zemanel">


    </div> -->
    <!-- <div #one></div> -->

    <!-- <div>
        <input type="number" [(ngModel)]="rows" />
        <input type="number" [(ngModel)]="colums" />
        <button (click)="setDimension()" type="button">Change</button>
        <table class="table">
            <thead>
              <tr>
                <th scope="col" *ngFor="let col of colArray; index as i">{{i+1}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let col of rowArray; index as i">
                <td *ngFor="let col of colArray; index as j">{{j+1}}</td>
              </tr>
            </tbody>
          </table>
      </div> -->


    <div>
        <input type="number" [(ngModel)]="rows" />
        <input type="number" [(ngModel)]="colums" />
        <button (click)="setDimension()" type="button">Change</button>
        <button (click)="setphoto()" type="button">photo</button>
        <button (click)="cleanElement()" type="button">cleanBruno</button>
        <!-- <div class="text-center">
                <div *ngFor="let row of rowArray; index as i" class="row text-center" id="z{{i}}">
                    <div *ngFor="let col of colArray; index as a" class="col border strokeme border-secondary m-2 rounded-circle" id="a{{i}}{{a}}" style="width:150px; height: 150px; max-width: 150px; background: url('https://us.v-cdn.net/6022045/uploads/defaultavatar.png')no-repeat center center /cover;"><div class="row"><div class="col d-flex align-items-start " id="topL{{i}}{{a}}"></div><div class="col d-flex align-items-end" id="topR{{i}}{{a}}"></div></div><div class="row d-flex align-items-end justify-content-center" style="margin-top: 90px;" id="bot{{i}}{{a}}"></div></div>
                    
        </div> -->

        <div>
            <div *ngFor="let position of arrayPositions$ | async"  class="col" style="width:150px; height: 150px; max-width: 150px;">
                <img class="row" src="{{position.account.photoLink}}">
                <div class="row">
                    <button type="button" class="btn btn-info">Info</button>
                    <button type="button" class="btn btn-danger">Info2</button>
                </div>
                <div class="row"> {{position.user.name}}</div>
            </div>
        </div>
    </div>



</div>